
<!-- build:js js/built.js -->
<!-- bower:js -->
<script src='/inc/jquery/dist/jquery.min.js'></script>
<!-- endbower -->
<script src='js/plugins.js'></script>
<script src='js/main.js'></script>
<!-- endbuild -->
